.meme {
  padding: 1rem 0.5rem;
}
.meme-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-top: 0.5rem;
}
.meme-form .meme-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 80%;
}
.meme-form .meme-inputs input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  padding: 0.7rem 0.5rem;
  font-family: "Karla", sans-serif;
}
.meme-form .get-meme-btn {
  padding: 0.7rem 1.2rem;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 10px;
  color: #fff;
  font-family: "Karla", sans-serif;
  border: none;
}
.meme .meme-form .meme-container {
  border: 3px solid purple;
  width: 90%;
  position: relative;
  overflow: hidden;
}
.meme .meme-form .meme-img {
  width: 100%;
  margin: auto;
  display: block;
}
.meme .meme-form .meme-container h2 {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
  line-break: anywhere;
}
.meme .meme-form .meme-container .top-text {
  top: 0;
}
.meme .meme-form .meme-container .bot-text {
  bottom: 0;
}
